/* -- General -- */
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444444;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.85rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .03rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: .04rem;
}

.caption {
  font-size: .75rem;
}

p {
  font-size: .95rem;
  letter-spacing: .04rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

/* -- Header -- */
header {
  display: flex;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}

.logo img {
  height: 45px;
  width: auto;
}

.logo span {
  font-size: 20px;
  text-transform: uppercase;
  color: #a9a9a9;
  letter-spacing: .1em;
}

.logo span.bold {
  font-weight: bold;
  color: black;
}

/* -- Navigation -- */
nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

nav.main li {
  display: inline;
  padding: 8px;
}

/* -- Navigation Animations -- */
nav.main li a:hover {
  transition: color 300ms linear;
  color: red;
}

nav.main li a:not(:hover) {
  transition: color 500ms linear;
}

/* -- Banner -- */
.container {
  display: flex;
  background-color: #FFF;
  width: 100%;
}

.container.banner {
  margin-top: 64px;
}

.container.banner,
.container.learning {
  background-color: #dedede;
  align-items: center;
}

.col-one {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.col-one img {
  width: 100%;
}

.col-one p {
  width: 92%;
}

.col-two.banner h1 {
  padding-bottom: 25px;
}

.col-two.banner h3 {
  padding-bottom: 40px;
}

.col-two.banner {
  padding-top: 0px;
}

.banner-text {
  width: 80%;
  padding-left: 16px;
}

.button {
  width: 80%;
  background-color: #444444;
  padding: 14px 0px;
  color: white;
  text-align: center;
  letter-spacing: .08em;
}

.button a {
  color: #FFF;
}

/* -- Button Animations -- */
.button:hover {
  transition: background-color 200ms linear;
  background-color: red;
  cursor: pointer;
}

.button:not(:hover) {
  transition: background-color 200ms linear;
}

/* -- Information -- */
.col-two {
  width: 40%;
  padding-top: 32px;
}

.container.articles h2 {
  padding: 32px 0px 24px 0px;
}

.container.articles p {
  padding-bottom: 32px;
}

.container.articles .col-one {
  border-right: 1px solid #dedede;
}

.article {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
}

.article img {
  width: 35%;
  height: auto;
  padding: 0px 24px 16px 16px;
}

.article.two img,
.article.three img {
  padding-top: 16px;
}

.article.three {
  background-color: #dedede;
}

.text-area {
  width: 65%;
  padding-right: 5%;
}

.text-area p.link a {
  padding-bottom: 0px;
  color: #70bce0;
}

.article .text-area p, h3 {
  padding-bottom: 8px;
}

.text-area p.link {
  padding-bottom: 0px;
}

/* -- Learning -- */
.container.learning,
.container.thesis {
  flex-direction: column;
  align-items: center;
}

.container.learning h2 {
  padding-top: 40px;
}

.course-area {
  display: flex;
  padding: 32px 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  background-color: #FFF;
  width: 29%;
  margin: 16px;
}

.course img {
  width: 100%;
  height: auto;
}

.course .course-text {
  padding: 16px;
}

.course .course-text h3, p {
  padding-bottom: 8px;
}

/* -- Thesis -- */
.container.thesis .col-one {
  border-right: 0px;
}

.container.thesis .article.two {
  border-bottom: 0px;
}

.container.thesis .col-one h3 {
  padding-top: 24px;
}

.container.thesis .container.articles p {
  padding-bottom: 0px;
}

/* -- Footer -- */
footer {
  display: inline-flex;
  width: 100%;
  padding: 16px 0;
  background-color: #FFF;
  border-top: 1px solid #dedede
}

footer span {
  padding-left: 24px;
  flex-grow: 1;
}

footer .footer-nav li {
  display: inline-flex;
  padding: 0px 6px;
}

footer .footer-nav {
  padding-right: 24px;
}

/* -- Footer Animations -- */
.footer-nav li a:hover {
  transition: color 200ms linear;
  color: red;
}

.footer-nav li a:not(:hover) {
  transition: color 200ms linear;
}
