/* Fonts */
/* Light 300 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* Normal 400 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* Medium 500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* Bold 700 */
  @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* -- General -- */
html {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.85rem;
  color: #4a4a4a;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .03rem;
  color: #4a4a4a;
}

h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: .04rem;
  font-weight: 500;
  color: #4a4a4a;
}

.caption {
  font-size: .75rem;
}

p {
  font-size: .95rem;
  letter-spacing: .04rem;
  line-height: 1.5rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #444444;
  cursor: pointer;
}

/* -- Header -- */
header {
  display: flex;
  height: 4rem;
  width: 100%;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}

.logo img {
  height: 45px;
  width: auto;
}

.logo span {
  font-size: 20px;
  text-transform: uppercase;
  color: #a9a9a9;
  letter-spacing: .1em;
}

.logo span.bold {
  font-weight: bold;
  color: black;
}

/* -- Navigation -- */
nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

nav.main li {
  display: inline;
  padding: 8px;
  font-weight: 400;
}

nav.mobile {
  display: none;
}

/* -- Navigation Animations -- */
nav.main li a:hover {
  transition: color 300ms linear;
  color: red;
}

nav.main li a:not(:hover) {
  transition: color 500ms linear;
}

/* -- Banner -- */
.container {
  display: flex;
  background-color: #FFF;
  width: 100%;
}

.container.banner {
  margin-top: 64px;
}

.container.banner,
.container.learning {
  background-color: #e0e9f1;
  align-items: center;
}

.col-one {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.col-one img {
  width: 100%;
}

.col-one p {
  width: 92%;
}

.col-two.banner h1 {
  padding-bottom: 25px;
}

.col-two.banner h3 {
  padding-bottom: 40px;
  font-weight: 400;
}

.col-two.banner {
  padding-top: 0px;
}

.banner-text {
  width: 80%;
  padding-left: 16px;
}

.button {
  width: 80%;
  background-color: #444444;
  padding: 14px 0px;
  color: white;
  text-align: center;
  letter-spacing: .08em;
}

.button a {
  color: #FFF;
}

/* -- Button Animations -- */
.button:hover {
  transition: background-color 200ms linear;
  background-color: red;
  cursor: pointer;
}

.button:not(:hover) {
  transition: background-color 200ms linear;
}

/* -- Information -- */
.col-two {
  width: 40%;
  padding-top: 32px;
}

.container.articles h2 {
  padding: 32px 0px 24px 0px;
}

.container.articles p {
  padding-bottom: 32px;
}

.container.articles .col-one {
  border-right: 1px solid #e6e6e6;
}

.article {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.article img {
  width: 35%;
  height: auto;
  padding: 0px 24px 16px 16px;
}

.article.two img,
.article.three img {
  padding-top: 16px;
}

.article img.mobile-article {
  display: none;
}

.article.three {
  background-color: #ececec;
}

.text-area {
  width: 65%;
  padding-right: 5%;
}

.text-area p.link a {
  padding-bottom: 0px;
  color: #70bce0;
}

.text-area p.link a:hover {
  transition: color 200ms ease-in;
  color: red;
}

.text-area p.link a:not(:hover) {
  transition: color 200ms ease-in;
}

.article .text-area p, h3 {
  padding-bottom: 8px;
}

.text-area p.link {
  padding-bottom: 0px;
}

/* -- Learning -- */
.container.learning,
.container.thesis {
  flex-direction: column;
  align-items: center;
}

.container.learning h2 {
  padding-top: 32px;
}

.course-area {
  display: flex;
  padding: 32px 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  background-color: #FFF;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .1);
  width: 29%;
  margin: 16px;
}

.course:hover {
  transition: box-shadow 200ms ease-in;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, .1);
}

.course:not(:hover) {
  transition: box-shadow 200ms ease-in;}


.course.mobile {
  display: none;
}

.course img {
  width: 100%;
  height: auto;
}

.course .course-text {
  padding: 16px;
}

.course .course-text h3, p {
  padding-bottom: 8px;
}

.course .course-text p.course-name {
  font-weight: 400;
  letter-spacing: .12em;
  font-size: .9em;
  color: red;
}

/* -- Thesis -- */
.container.thesis .col-one {
  border-right: 0px;
}

.container.thesis .article.two {
  border-bottom: 0px;
}

.container.thesis .col-one h3 {
  padding-top: 24px;
}

.container.thesis .container.articles p {
  padding-bottom: 0px;
}

.container.thesis h2 {
  padding-top: 32px;
}

/* -- Footer -- */
footer {
  display: inline-flex;
  width: 100%;
  padding: 32px 0;
  background-color: #ececec;
  border-top: 1px solid #e6e6e6
}

footer span {
  padding-left: 24px;
  flex-grow: 1;
}

footer .footer-nav li {
  display: inline-flex;
  padding: 0px 6px;
}

footer .footer-nav {
  padding-right: 24px;
}

/* -- Footer Animations -- */
.footer-nav li a:hover {
  transition: color 200ms linear;
  color: red;
}

.footer-nav li a:not(:hover) {
  transition: color 200ms linear;
}

/* ----- Media Queries ----- */

/* Desktop */
@media only screen and (min-width:1600px) {

}

/* Laptop */
@media only screen and (max-width:1600px) {

}

/* Tablet Landscape */
@media only screen and (max-width:1024px) {

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.2em;
  }

  .course-area {
    padding: 32px;
  }

  .course {
    width: calc(50% - 32px);
  }
}

/* Tablet Portrait */
@media only screen and (max-width:768px) {

  /* Navigation */
  .logo {
    display: none;
  }

  nav.main {
    display: none;
  }

  nav.mobile {
    display: flex;
    width: 100%;
    padding: 24px 24px;
  }

  nav.mobile ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100%;
  }

  /* Banner */
  .container.banner {
  flex-direction: column;
  align-items: flex-start;
  }

  .col-one, .col-two {
    width: 100%;
  }

  .col-one {
    padding: 0px;
  }

  .col-one img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .banner-text {
    padding: 25px 16px 40px 16px;
    width: auto;
  }

  .button {
    width: auto;
  }

  .banner-text h1, h3 {
    width: 90%;
  }

  .col-two.banner h3 {
    padding-bottom: 26px;
  }

  /* Information */
  .container.articles {
    flex-direction: column;
    margin: 8px 0;
  }

  .container .col-one p,
  .container .col-one h2,
  .container .col-one h3,
  .container .col-one .caption {
    padding-left: 16px;
  }

  .article.one {
    border-top: 1px solid #dedede;
    padding-top:16px;
  }

  /* Thesis */
  .container.thesis h2 {
    padding-bottom: 32px;

  }

}

/* Phone */
@media only screen and (min-width:320px) and (max-width:480px) {

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.2em;
  }

  /* Navigation */
  .logo {
    display: none;
  }

  nav.main {
    display: none;
  }

  nav.mobile {
    display: flex;
    width: 100%;
    padding: 24px 24px;
  }

  nav.mobile ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100%;
  }

  /* Banner */
  .container.banner {
  flex-direction: column;
  align-items: flex-start;
  }

  .col-one, .col-two {
    width: 100%;
  }

  .col-one {
    padding: 0px;
  }

  .col-one img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .col-two {
    padding-top: 0px;
  }

  .banner-text {
    padding: 25px 16px 40px 16px;
    width: auto;
  }

  .button {
    width: auto;
  }

  .banner-text h1, h3 {
    width: 90%;
  }

  .col-two.banner h3 {
    padding-bottom: 26px;
  }

  /* Information */
  .container.articles .col-one {
    display: none;
  }

  .container.articles {
    margin: 0;
  }

  .article img.mobile-article {
    display: block;
    width: 100%;
    padding: 0;
  }

  .article {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    border-bottom: 0px;
  }

  .article img {
    display: none;
  }

  .article.three {
    background-color: white;
    margin-bottom: 16px;
  }

  .article .text-area {
    width: auto;
    padding-top: 16px;
    padding-left: 16px;
  }

  /* Learning */
  .container.learning {
    border-top: 1px solid #dedede;
    background-color: white;
    padding: 0px 16px;
    width: auto;
  }

  .container.learning h2 {
    padding-bottom: 32px;
  }

  .course-area {
    padding: 0px;
    width: auto;
  }

  .course {
    display: none;
    margin: 0 0 8px 0;
  }

  .course:last-child {
    margin-bottom: 40px;
  }

  .course.mobile {
    display: block;
    background-color: #e0e9f1;
    width: 100%;
    box-shadow: none;
  }

  .course.mobile h3 {
    padding: 16px;
  }

  .course.mobile:hover {
    transition: background-color 200ms ease-in;
    background-color: #444444;
  }

  .course.mobile:not(:hover) {
    transition: background-color 200ms ease-in;
  }

  .course.mobile h3:hover {
    transition: color 200ms ease-in;
    color: white;
  }

  .course.mobile h3:not(:hover) {
    transition: color 200ms ease-in;
  }

  /* Thesis */
  .container.thesis {
    border-top: 1px solid #dedede;
    width: 100%;
    margin-bottom: 24px;;
  }

  .container.thesis .col-two {
    display: none;
  }

  .container.thesis .col-one {
    display: block;
  }

  .container.thesis .col-one h3,
  .container.thesis .col-one p {
    display: none;
  }

  .container.thesis h2 {
    padding-bottom: 32px;
  }

  /* Footer */
  footer {
    padding: 32px 0px;
    text-align: center;
  }

  .footer-nav.caption {
    display: none;
  }

  footer span {
    padding-left: 0px;
  }
}
